@page "/pacientes/cardio/editar/{IdCardio:int}"
@inject IJSRuntime js
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IStringLocalizer<Resource> localizer
@attribute [Authorize(Policy = "User")]

<h3>Editar registro cardiológico del paciente: @paciente.Nombre @paciente.Apellido</h3>

@if (cardio == null)
{
    <text>Cargando...</text>
}
else
{
    <EditForm Model="cardio" OnValidSubmit="Editar">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>@localizer["Value"]</label>
            <div>
                <InputNumber class="form-control" @bind-Value="@cardio.Valor" />
            </div>
            <label>@localizer["Unit"]</label>
            <div>
                <InputText class="form-control" @bind-Value="@cardio.Unidad" />
            </div>
            <label>@localizer["Date"]</label>
            <div>
                <InputDate class="form-control" @bind-Value="@cardio.Fecha" />
            </div>
        </div>

        <button class="btn btn-success" type="submit">Guardar Cambios</button>
        <a class="btn btn-danger" href="pacientes/cardio/@cardio.IdPaciente">@localizer["Cancel"]</a>
    </EditForm>
}

@code {
    [Parameter] public int IdCardio { get; set; }
    private Cardio cardio = new Cardio();
    private Paciente paciente = new Paciente();

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<Cardio>($"/api/Cardio/{IdCardio}");
        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("pacientes");
            }
            else
            {
                var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
                // Mensaje al usuario
                await js.InvokeVoidAsync("alert", $"ERROR: {body}");
            }
        }
        else
        {
            // Objeto cardio
            cardio = httpResponse.Response;
            // Objeto paciente
            paciente = cardio.Paciente;
        }
    }

    private async Task Editar()
    {
        var httpResponse = await repositorio.Put<Cardio>("/api/Cardio", cardio);
        if (httpResponse.Error)
        {
            var body = await httpResponse.HttpResponseMessage.Content.ReadAsStringAsync();
            // Mensaje al usuario
            await js.InvokeVoidAsync("alert", $"ERROR: {body}");
        }
        else
        {
            // Mensaje al usuario
            await js.InvokeVoidAsync("alert", $"Editado correctamente");
            navigationManager.NavigateTo($"pacientes/cardio/{cardio.IdPaciente}");
        }
    }
}